.bg-black{
  background-color: black;
}
img{
  width: 100%;
  height: 55.1%;
}

.font-div{
  width: 30%;
}

@media only screen and (min-width: 1198px){
  .font-div{
    padding: 46px 0px!important;
  }
}
